.search-result {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 666px;
}

.search-result-entry mark{
    color: #c00;
    background-color: transparent;
    padding: inherit;
}

.search-result-entry:hover {
    background-color: #f7f7f7;
}

.entry-name {
    margin-bottom: 0px;
}

.entry-url {
}

.divider {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e5e5e5
}

.advance-search-form {
    margin-top: 10px;
    margin-bottom: 10px
}

.search-option-tab {
    cursor: pointer;
}